/*
  - rem for padding, margin, and font sizes
  - em for width, height, and other dimensions
  - px for borders and shadows
*/

:root {
  --primary-color: #2075ff;
  --secondary-color: #34A853;
  --danger-color: #EA4335;
  --warning-color: #FBBC05;
  --light-color: #F8F9FA;
  --dark-color: #202124;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: var(--dark-color);
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
}

.container--g {
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  width: 100%;
}

.container--center--g {
  flex-grow: 1;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

.btn {
  padding: .25em .5em;
  font-size: 1rem;
  border-radius: 4px;
}

.avatar--g {
  border-radius: 50%;
  background: var(--primary-color);
  border: none;
  cursor: pointer;
  object-fit: cover;
}

.avatar--sm--g {
  width: 2rem;
  height: 2rem;
}

.avatar--md--g {
  width: 3rem;
  height: 3rem;
}

.avatar--lg--g {
  width: 10rem;
  height: 10rem;
}

.avatar--g:hover {
  opacity: .8;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: var(--primary-color);
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.product-img--g {
  height: 12em;
  width: 100%;
  object-fit: contain;
}

.shadow--g {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.product-description--g {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}