# Database configuration (visit https://www.mongodb.com/ to create a free MongoDB cluster)
MONGO_URI = # Your MongoDB connection string here
MONGO_DB_NAME = # Your MongoDB database name here

# Server configuration (visit https://jwtsecrets.com/ to generate strong secret keys)
SERVER_PORT = 3000
JWT_SECRET_KEY = # Your JWT secret key here
REFRESH_JWT_SECRET_KEY = # Your refresh JWT secret key here

NODE_ENV = development # Change to "production" when deploying

CLIENT_URL = http://localhost:5173

# Mailtrap configuration (visit https://mailtrap.io/ to create a free Mailtrap account)
MAILTRAP_TOKEN = # Your Mailtrap token here
MAILTRAP_SENDER_EMAIL = # Your Mailtrap sender email here
MAILTRAP_SENDER_NAME = # Your Mailtrap sender name here

# Twilio configuration (visit https://www.twilio.com/ to create a free Twilio account)
TWILIO_SID = # Your Twilio SID here
TWILIO_AUTH_TOKEN = # Your Twilio Auth Token here
TWILIO_AUTH_PHONE = # Your Twilio Auth Phone here

# Firebase configuration (visit https://firebase.google.com/ to create a free Firebase project)
FIREBASE_USER_AVATAR_BUCKET = smartwatch-user-avatar # Your Firebase Storage bucket for user avatars
FIREBASE_PRODUCT_IMAGE_BUCKET = smartwatch-product-image # Your Firebase Storage bucket for product images
FIREBASE_RETURN_IMAGE_BUCKET = smartwatch-return-image # Your Firebase Storage bucket for return images
FIREBASE_PRODUCT_LOGO_BUCKET = smartwatch-product-logo # Your Firebase Storage bucket for product logos

# Nodemailer configuration (using Gmail SMTP server)
EMAIL_HOST = smtp.gmail.com # Simple Mail Transfer Protocol (SMTP) server
EMAIL_PORT = 587 # SMTP port (587 for TLS, 465 for SSL)
EMAIL_SECURE = false # true for 465, false for other ports
EMAIL_USER = # Your Gmail address here
EMAIL_PASS = # Your email password here (get from Google Account https://myaccount.google.com/apppasswords)
EMAIL_SENDER = '"Smartwatch App" <youremail@gmail.com>' # Your email sender here (should be the same as EMAIL_USER to avoid being marked as spam)

# Stripe configuration (visit https://stripe.com/ to create a free Stripe account)
STRIPE_SECRET_KEY = sk_test_51N1XXXXXX # Your Stripe secret key here
STRIPE_WEBHOOK_SECRET = whsec_XXXXXX # Your Stripe webhook secret key here (cmd to use to get key: stripe listen --forward-to http://localhost:3000/api/v1/webhooks/stripe (the url will be based on the server route))
